.Navigation {
  position: fixed;
  top: 0;
  left: 10vw;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  padding-top: 0.6vh;
  padding-left: 1.6vw;
  padding-right: 1.6vw;
  padding-bottom: 0.2vh;
  font-size: 2vw;
}

#navigationSelected {
  color: #FFF;
}

.Navigation a+a {
  margin-left: 1vw;
}

.Navigation a:visited {
  color: #999;
  text-decoration: none;
}

.Navigation a:hover {
  color: #FFF;
  text-decoration: none;
}

.Navigation a:active {
  color: #FFF;
  text-decoration: none;
}
.Navigation a:link {
  color: #FFF;
  text-decoration: none;
}
