.Navigation {
  position: fixed;
  top: 0;
  left: 10vmin;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  padding-top: 0.6vmin;
  padding-left: 1.6vmin;
  padding-right: 1.6vmin;
  padding-bottom: 0.2vmin;
  font-size: 2vmin;
}

#navigationSelected {
  color: #FFF;
}

.Navigation a+a {
  margin-left: 1vw;
}

.Navigation a:visited {
  color: #999;
  text-decoration: none;
}

.Navigation a:hover {
  color: #FFF;
  text-decoration: none;
}

.Navigation a:active {
  color: #FFF;
  text-decoration: none;
}
.Navigation a:link {
  color: #FFF;
  text-decoration: none;
}
