.Showcase {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: block;
  clear: both;
  position: relative;
  color: #FFF;
  min-height: 100vh;
}

.ShowcaseImageWrapper {
  height: 40vh;
  position: relative;
}

.ShowcaseFadeTop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6.1vh;
  z-index: 1;
  background: linear-gradient(rgba(255,255,255,0.4), rgba(17,17,17,0));
}

.ShowcaseFadeBottomImg {
  position: absolute;
  top: 34vh;
  width: 100%;
  height: 6.1vh;
  z-index: 4;
  background: linear-gradient(rgba(17,17,17,0), rgba(17,17,17,1.0));
}

.ShowcaseFadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.1vh;
  z-index: 1;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.4));
}

.ShowcaseContent {
  margin-top: 2vh;
  text-align: center;
  font-size: 1vmin;
  line-height: 3vmin;
}
